<h1>User Edit Page</h1>

<br><br>
<% if(currentUser._id === user._id) { %>    
<form method="POST" action="/chef/update?_method=PUT">

    <div class="form-group">
        <label class="custom-file-label" for="validatedCustomFile">Upload Profile Picture</label><br>
        <input type="file" class="custom-file-input" id="validatedCustomFile">
        <div class="invalid-feedback">Example invalid custom file feedback</div>
    </div>
    <br>
    <div class="form-group col-md-4 mb-3">
        <select name="userRole" class="form-control" placeholeder="Select User Type">
          <option value="">Select Role</option>
          <option value="User">User</option>
          <option value="Chef">Chef</option>
        </select>
    </div>
    <br>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">First name</label>
        <input type="text" class="form-control" id="validationDefault01" name="firstName" placeholder="First name" required>
      </div>
      <div class="col-md-4 mb-3" id="lsname">
        <label for="validationDefault02">Last name</label>
        <input type="text" class="form-control" id="validationDefault02" name="lastName" placeholder="Last name" required>
      </div>
    </div>
    <div class="col-md-4 mb-3">
        <label for="validationDefaultUsername">Username</label>
        <div class="input-group">
            <div class="input-group-prepend">
             <span class="input-group-text" id="inputGroupPrepend2">@</span>
            </div>
            <input type="text" class="form-control" id="validationDefaultUsername" name="userName" placeholder="Username" aria-describedby="inputGroupPrepend2">
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Update Profile</button>


  </form>
<% } %>