<h1>Chef's Blogs</h1>

<section>
    <img src="/images/appetizer1.png" width="100%" height="100%"><br><br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero minima cupiditate, est atque optio in ut nisi nostrum doloremque, non deserunt magni illum laboriosam suscipit ipsa culpa tempore adipisci nam temporibus esse laborum sit quaerat.</p>
<br><br><hr><br><br>
</section>

<section>
    <img src="images/appetizer2.png" width="100%" height="100%"><br><br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero minima cupiditate, est atque optio in ut nisi nostrum doloremque, non deserunt magni illum laboriosam suscipit ipsa culpa tempore adipisci nam temporibus esse laborum sit quaerat.</p>
<br><br><hr><br><br>
</section>

<section class="pd-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Most popular recipes</h2>
        <a href="/recipe" class="ms-auto">View more recipes</a>
    </div>
    <br>
<!-- The # stands for: add a new page to driect -->
    <div class=" row row-cols-4  ">
        <a href="/recipe/add" clas="col text-center category_link">
            <div class="pic-1 pic-1--largest shadow">
                <img src="/images/cheflatest/5.jpg" loading="lazy">
            </div> 
            <a href="/recipe/add" clas="col text-center category_link">
                <div class="pic-1 pic-1--largest shadow">
                    <img src="/images/cheflatest/1.jpg"  loading="lazy">    
        </div>
        <a href="/recipe/add" clas="col text-center category_link">
            <div class="pic-1 pic-1--largest shadow">
                <img src="/images/cheflatest/2.jpg" loading="lazy">
            </div>
            <a href="/recipe/add" clas="col text-center category_link">
                <div class="pic-1 pic-1--largest shadow">
                    <img src="/images/cheflatest/3.jpg" loading="lazy">
                </div>
        </a>
    </div>
    <br><br>
</section>
<br><hr><br><br>
