<form method="POST">
    <div id="contact-us">
        <h1>Send us a message</h1>
        <img src="images/4.png" width="25%" height="25%"><input type="text" placeholder="Your name" ><br><br> <img src="images/1.png" width="25%" height="25%">
        <input type="email" placeholder="Email address"><br><br><img src="images/3.png" width="25%" height="25%">
        <input type="text" placeholder="Subject"><br><br>
        <p>Please let us know how can we help!</p>
        <img src="images/5.png" width="25%" height="25%"><input type="text" placeholder="Description"><br><br>
    </div>
</form>