<header id="header1"></header> 
<h1>Recipes & Cooking Ideas</h1>
<a href="">Breakfast</a>
<a href="">Lunch</a>
<a href="">Dinner</a>
<a href="">Drinks</a>

<h1> Add Recipe </h1>

<br><br>
<div id="reci-info">
    <div class="form-group" id="box-recipe1">
        <label>Recipe Owner</label>
        <input type="text" name="text" class="form-control">
    </div>

    <div class="form-group" id="box-recipe2">
        <label>Dish title</label>
        <input type="text" name="emailAddress" class="form-control">
    </div>

    <div class="form-group" id="box-recipe3">
        <label>Cooking Time</label>
        <input type="text" name="text" class="form-control">
    </div>

    <div class="form-group" id="box-recipe4">
        <label>Ingredients</label>
        <input type="text" name="text" class="form-control">
    </div>
</div>
<br>
<a href="#" class="btn btn-warning btn-dark btn-1g">Submit Recipe</a>
<br>

    <br>
    <p>Live cooking with fresh ingredients!</p>
<!-- The # stands for: add page to driect: author needs to be declared -->
    <div class=" row row-cols-4  ">
        <a href="/recipe/add" clas="category_link">
            <div class="pic-1 pic-1--largest shadow">
                <img src="/images/cheflatest/5.jpg" >
            </div> 

            <a href="/recipe/add" clas="category_link">
                <div class="pic-1 pic-1--largest shadow">
                    <img src="/images/cheflatest/1.jpg">    
        </div>
        <a href="/recipe/add" clas="category_link">
            <div class="pic-1 pic-1--largest shadow">
                <img src="/images/cheflatest/2.jpg">
            </div>
            <a href="/recipe/add" clas="category_link">
                <div class="pic-1 pic-1--largest shadow">
                    <img src="/images/cheflatest/3.jpg">
                </div>
        </a>
    </div>
    <br><br>
<br><hr><br><br>


<br>
    <!-- <button type="submit" class="btn btn-Success">Create Recipe</button> -->
<p>Want to hone your cooking skill or are you looking to learn new tasty recipes?</p>
</form>
<section class="px-4 py2 my-2 text-center">
    <img src="/images/recipe1.png" alt="" width="400" height="400">
    <h3 class="display-6 fw-bold">Sign up to join our kitchen and publish your recipe TODAY!</h3>
    
</section>
<button type="button" class="btn btn-warning" onclick="window.location.href='/auth/signup';">Sign-up</button>          </div>

<br><hr>
<!-- recipe container -->
<!-- <section class="recipe-container"> -->
<!-- tag: Add forms on details at Recipe folder  -->
<!-- <div class="tag-container">
    <h4>Recipes</h4>

    <div class="tags-list">
        <a href="/views/recipe/details.ejs">Breakfast</a>
        <a href="/views/recipe/details.ejs">Hot Drinks</a>
        <a href="/views/recipe/details.ejs">Lunch</a>
        <a href="/views/recipe/details.ejs">Dessert</a>
        <a href="/views/recipe/details.ejs">Dinner</a>
    </div>
</div> -->
<!-- list  -->
<!-- <div class="recipe-list"></div> -->
</section>
<!-- bootstrap -->

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/dessert2.png">
        </title><rect width="100%" height="100%"></rect><text x="50%" y="50%" >Homemade Macarons</text>

            <div class="card-body">
              <p class="card-text">EGG WHITES: The bulk of French macaron batter is meringue made from properly beaten egg whites.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-muted">15 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/dessert.png">
        </title><rect width="100%" height="100%"></rect><text x="50%" y="50%" >Homemade Creamy Waffles</text>

            <div class="card-body">
              <p class="card-text">Baking powder and baking soda help the waffles rise and brown.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-muted">30 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/food/indian-food.jpg">
            </title><rect width="100%" height="100%"></rect><text x="50%" y="50%" >Homemade Chicken Masala</text></svg>

            <div class="card-body">
              <p class="card-text">3/4 cup dry Marsala wine. 1 1/4 cup low-sodium chicken broth (or stock) 3/4 cup heavy cream * 2 tablespoons fresh chopped parsley.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/food/thai-food.jpg">
            </title><rect width="100%" height="100%"></rect><text x="50%" y="50%" >Homemade Chicken Noodles</text></svg>

            <div class="card-body">
              <p class="card-text">whole-wheat noodles, chicken, vegetables and olive oil recipe.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">20 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"> 
            <img src="/images/food/mexican-food.jpg">
            </title><rect width="100%" height="100%"></rect><text x="50%" y="50%" >Homemade Taco</text></svg>

            <div class="card-body">
              <p class="card-text">Make a simple fresh pico [de gallo] with tomatoes, onion and cilantro or a fresh avocado salsa with jalapenos, green tomatoes, onion and garlic</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/food/american-food.jpg" alt="">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Homemade Burger</text>

            <div class="card-body">
              <p class="card-text"> Preheat an outdoor grill for high heat and lightly oil grate.Whisk together egg, salt, and pepper in a medium bowl.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">15 mins</small>
              </div>
            </div>
          </div>
        </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>